calf.8
src/calf.cgi
src/htmlsnips.h
share/nginx.conf
systemd/calf.service

*.o
*.sw?

aclocal.m4
autom4te.cache
compile
config.h*
config.status
configure
depcomp
.deps
install-sh
*.log
Makefile
Makefile.in
missing
stamp-h1
