body {
	background-color: #1f3370;
}

#listing {
	background-color: #929cd9;
	color: #010211;
	margin: 15px;
}

#listing a {
	color: #000312;
	text-decoration: none;
}

#listing a:hover {
	color: #0d4f74;
}

h2 {
	margin: 0;
	padding: 15px;
	font-size: 1.7em;
	font-weight: 100;
}

#listing li.empty {
	padding: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a {
	display: block;
	padding: 7px 0 7px 18px;
}

li:nth-child(odd){
	background: #8992d5;
}

li .size {
	display: block;
	padding: 0 15px 15px;
	float: right;
	margin-top: 2px;
	font-size: 0.8em;
}
