body {
	background-color: #1f3370;
}

.listing {
	background-color: #929cd9;
	color: #010211;
	margin: 15px;
}

a {
	color: #000312;
	text-decoration: none;
}

tr:hover a {
	color: #0d4f74;
}

h2 {
	margin: 0;
	padding: 10px 15px;
	font-size: 1.7em;
	font-weight: 100;
}

table {
	width: 100%;
	border-spacing: 0;
}

td a, td.empty {
	display: block;
	padding: 7px 14px;
}

td.size {
	width: 100px;
	text-align: right;
}

tr:nth-child(odd){
	background: #8992d5;
}

.thumbnails {
	padding: 10px;
	background-color: #b2ace9;
}

.thumbnails img {
	padding: 2px;
}

a img {
	border-width: 0;
}

.calendar {
	text-align:center;
}

.calendar h3 {
	font-size: 1em;
}

.calendar .current {
	font-weight: bold;
}

.calendar a {
	color: #005;
}
