body {
	background-color: #FDFAF9;
	color: #1F1F1F;
	margin: 0;
}

a {
	text-decoration: none;
}

a img {
	border-width: 0;
}

.calendar {
	background-color: #25262B;
	color: #4B4D57;
	text-align: center;
	padding: 10px;
}

.calendar div {
	padding: 5px;
}

.calendar .year .jump {
	padding: 0 15px;
	color: #909090;
}

.calendar .year .jump:hover {
	color: #FAE4D8;
}

.calendar .year span.jump {
	visibility: hidden;
}

.calendar .current {
	color: #8EE49B;
}

.calendar .year {
	font-size: 1.2em;
}

.calendar a {
	color: #FAE4D8;
}

.calendar .months {
	word-spacing: 10px;
}

.calendar .months a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-weight: 100;
}

h1 {
	font-size: 3em;
	color: #E75699;
}

h1, .listing {
	max-width: 800px;
	margin: 20px auto;
	padding: 10px;
}

h2 {
	color: #508364;
	font-size: 2.2em;
	margin: 0;
}

.listing h2, .listing tr a, .listing .empty, .thumbnails img {
	padding: 5px;
}

.listing {
	background-color: #E8E5E4;
	box-shadow: 1px 1px 1px #B5B2B2;
}

.listing tr a {
	display: block;
	color: #25262B;
}

.listing .empty {
	color: #4D4F5E;
}

.listing tr:hover a {
	color: #686B80;
}

.listing table {
	width: 100%;
	font-size: 1.1em;
}

.listing td.size {
	width: 100px;
}

.thumbnails {
	font-size: 0;
}
