body {
	background-color: #1f3370;
	color: #b2bcd9;
	margin: 0;
}

a {
	color: #727cf9;
}

a img {
	border-width: 0;
}

h1 {
	color: #d2dce9;
	margin: 20px;
	font-weight: 100;
	font-size: 2em;
}

.listing {
	background-color: #929cd9;
	color: #010211;
	margin: 20px;
}

.listing a {
	color: #000312;
	text-decoration: none;
}

.listing tr:hover a {
	color: #0d4f74;
}

.listing h2 {
	margin: 0;
	padding: 10px 15px;
	font-size: 1.7em;
	font-weight: 100;
}

.listing table {
	width: 100%;
	border-spacing: 0;
}

.listing td a {
	display: block;
}

.listing td a, .listing td.empty {
	padding: 7px 14px;
}

.listing td.size {
	width: 100px;
	text-align: right;
}

.listing tr:nth-child(odd){
	background: #8992d5;
}

.thumbnails {
	padding: 10px;
	background-color: #a2ace9;
}

.thumbnails img {
	padding: 2px;
}

.calendar {
	text-align:center;
	font-size: 1.1em;
	background-color: #0f2350;
	padding: 5px;
}

.calendar div {
	margin: 5px;
}

.calendar .year {
	font-size: 1.1em;
	padding-right: 10px;
}

.calendar .current {
	color: #dfdfef;
}
